:root{
  --primary-color: #B89D46;
  --primary: red;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Times New Roman', Times, serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-y: overlay;
}