:root {
  --color-background: #fef6e4;
  --color-headline: #001858;
  --color-paragraph: #172c66;
  --color-button: #f582ae;
  --color-button-hover: #ec6e9d;
  --color-button-text: #001858;
  --color-illustration: #001858;
  --color-main: #f3d2c1;
  --color-highlight: #fef6e4;
  --color-secondary: #8bd3dd;
  --color-tertiary: #f582ae;
}

* {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Times New Roman", Times, serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed;
  font-optical-sizing: auto;
  font-style: normal;
  overflow-y: overlay;

  background-color: var(--color-background);
  color: var(--color-paragraph);
}
